<div class="col-md-12 back">
 <!--    <img src="assets/imges/36.jpeg" class="hrdrimg">
    <span class="hrdrtxt">Hieeee Burshiiii☺☺☺</span> -->
   <!--  <button class="btn btn-danger hrdrbtn">Chorryyyy</button> -->
  <!--  <img src="assets/imges/sorry.jpg" style="width: 124px;text-align: center;">
        <img src="assets/imges/aarohi.jpg" style="    width: 85px; margin-left: 200px;">
     <img src="assets/imges/flower.jpg" style="width: 65px;  float: right; margin-right: 50px;">
</div> -->
<!-- <div class="back"> -->
   <!-- <img src="assets/imges/9.jpeg" class="img1 imgcs"> -->
<div class="col-md-4 col-md-offset-4">
      
      <div class="logincs">
        <div class="row">
          <!-- <h1 style="text-align: center;">Login</h1> -->
        </div>
        <div class="form-group">
          <label for="userid">User ID</label>
          <input type="text" class="form-control" id="userid" [(ngModel)]="login.userid">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" [(ngModel)]="login.password">
        </div>
        <div style="text-align: center;">
           <button class="btn btn-danger" (click)="loginfun(login)">Login</button>
        <p style="color:red" *ngIf="loginError == '' ">Invalid username or password</p>
        </div>
      </div>
</div>
</div>

<style type="text/css">
  .hrdr{
    top:0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: white;
    padding: 10px;
    z-index: 10;
  }
  .back{
    top:0;
    left: 0;
    right: 0;
    /*position: fixed;*/
     background: url(assets/imges/back1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1000px;
  }
  .hrdrimg{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 10px;
  }
  .hrdrtxt{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
  }
  .logincs{
    /*border: 1px solid #f0ad4e;*/
    padding: 20px;
    margin-top: 100%;
    color: #d9534f;
    opacity: 0.8;
  }
  .back {
  /* The image used */
 background-image: url(assets/imges/1.jpeg) 

  /* Full height */
  /*height: 100%; 

  /* Center and scale the image nicely */
 /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/*/
}
</style>
