

<div class="col-md-12  backgrd">
  <!-- <iframe src="assets/imges/bgsong.mp3" allow="autoplay" id="audio"></iframe> -->
  <audio src="assets/imges/bgsong.mp3" autoplay loop id="audio">
  <embed src="assets/imges/bgsong.mp3" allow="autoplay" id="audio"/>
  </audio>
  
  <div class="col-md-12 hrdr">
    <img src="assets/imges/36.jpeg" class="hrdrimg">
    <span class="hrdrtxt">𝕳𝖎𝖊𝖊𝖊𝖊 𝒜𝒶𝓇𝑜𝒽𝒾𝒾𝒾𝒾𝒾𝒾𝒾🌹🌹</span>
   <!--  <button class="btn btn-danger hrdrbtn">Chorryyyy</button> -->
   <img src="assets/imges/sorry.jpg" style="width: 124px;text-align: center;">
        <img src="assets/imges/aarohi.jpg" style="    width: 85px; margin-left: 200px;">
      <button class="btn btn-danger" style="float: right; margin-right: 50px;margin-top: 40px;" (click)="message()">💖⁰➏¹➊💞</button>
     <!-- <img src="assets/imges/flower.jpg" style="width: 65px;  float: right; margin-right: 50px;"> -->
  </div>
  <div class="col-md-12">
    <div class="prfldiv">

      <ul class="cb-slideshow">
            <li><span>Image 01</span><div></div></li>
            <li><span>Image 02</span><div></div></li>
            <li><span>Image 03</span><div></div></li>
            <li><span>Image 04</span><div></div></li>
            <li><span>Image 05</span><div></div></li>
            <li><span>Image 06</span><div></div></li>
            <li><span>Image 07</span><div></div></li>
        </ul>
      <h1 class="txtcntr"></h1>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-1 imgdiv">
    <div class="col-md-4">
        <img src="assets/imges/1.jpeg" class="img1 imgcs">
      <img src="assets/imges/11.jpeg" class="img1 imgcs">
       <img src="assets/imges/53.jpeg" class="img1 imgcs">
      <img src="assets/imges/3.jpeg" class="img1 imgcs">
      <img src="assets/imges/4.jpeg" class="img1 imgcs">
      <img src="assets/imges/12.jpeg" class="img1 imgcs">
      <img src="assets/imges/100.jpg" class="img1 imgcs">
      <img src="assets/imges/13.jpeg" class="img1 imgcs">
      <img src="assets/imges/15.jpeg" class="img1 imgcs">
      <img src="assets/imges/17.jpeg" class="img1 imgcs">
      <!-- <img src="assets/imges/16.jpeg" class="img1 imgcs"> -->
      <img src="assets/imges/18.jpeg" class="img1 imgcs">
      <img src="assets/imges/19.jpeg" class="img1 imgcs">
      <img src="assets/imges/20.jpeg" class="img1 imgcs">
      <img src="assets/imges/21.jpeg" class="img1 imgcs">
      <img src="assets/imges/45.jpg" class="img1 imgcs">
            <img src="assets/imges/3.jpeg" class="img1 imgcs">

        <!-- <img src="assets/imges/47.jpg" class="img1 imgcs"> -->
        <!-- <img src="assets/imges/heartb.jpg" class="img1 imgcs"> -->

    </div>
    <div class="col-md-4">
      <img src="assets/imges/5.jpeg" class="img2 imgcs">
      <img src="assets/imges/50.jpeg" class="img2 imgcs">
      <img src="assets/imges/20.jpeg" class="img2 imgcs">
      <img src="assets/imges/8.jpeg" class="img2 imgcs">
      <img src="assets/imges/aarohi.jpeg" class="img2 imgcs">
      <!-- <img src="assets/imges/22.jpeg" class="img2 imgcs"> -->
      <img src="assets/imges/23.jpeg" class="img2 imgcs">
      <img src="assets/imges/24.jpeg" class="img2 imgcs">
      <img src="assets/imges/25.jpeg" class="img2 imgcs">
      <img src="assets/imges/26.jpeg" class="img2 imgcs">
      <img src="assets/imges/27.jpeg" class="img2 imgcs">
      <img src="assets/imges/28.jpeg" class="img2 imgcs">
      <img src="assets/imges/101.jpg" class="img2 imgcs">
      <img src="assets/imges/puuuu.jpeg" class="img2 imgcs">

      <img src="assets/imges/12.jpeg" class="img2 imgcs">
      <img src="assets/imges/puuu.jpeg" class="img2 imgcs">
      <img src="assets/imges/31.jpeg" class="img2 imgcs">
      <img src="assets/imges/puu.jpeg" class="img2 imgcs">
      <img src="assets/imges/77.jpg" class="img2 imgcs">
      <img src="assets/imges/2.jpeg" class="img2 imgcs">
      <img src="assets/imges/13.jpeg" class="img2 imgcs">
                      

    </div>
    <div class="col-md-4">
      <img src="assets/imges/9.jpeg" class="img1 imgcs">
      <img src="assets/imges/51.jpeg" class="img1 imgcs">
      <img src="assets/imges/10.jpeg" class="img1 imgcs">
      <img src="assets/imges/7.jpeg" class="img1 imgcs">
      <img src="assets/imges/2.jpeg" class="img1 imgcs">
      <img src="assets/imges/pu.jpeg" class="img1 imgcs">
      <img src="assets/imges/33.jpeg" class="img1 imgcs">
      <img src="assets/imges/34.jpeg" class="img1 imgcs">
      <img src="assets/imges/35.jpeg" class="img1 imgcs">
      <img src="assets/imges/36.jpeg" class="img1 imgcs">
      <img src="assets/imges/37.jpeg" class="img1 imgcs">
      <img src="assets/imges/38.jpeg" class="img1 imgcs">
      <img src="assets/imges/39.jpeg" class="img1 imgcs">
      <img src="assets/imges/40.jpeg" class="img1 imgcs">
      <!-- <img src="assets/imges/47.jpg" class="img1 imgcs"> -->
        <img src="assets/imges/777.jpg" class="img1 imgcs">
          <!-- <img src="assets/imges/48.jpg" class="img1 imgcs"> -->
          <img src="assets/imges/angel.jpeg" class="img1 imgcs">
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-6">
     <img src="assets/imges/love.jpg" class="img1 imgcs">
   </div>
   <div class="col-md-6">
     <img src="assets/imges/color.jpg" class="img1 imgcs">
   </div>

  </div>


  <div class="col-md-12">
    <div class="balloon">
      <div><span>☺</span></div>
      <div><span>S</span></div>
      <div><span>o</span></div>
      <div><span>r</span></div>
      <div><span>r</span></div>
      <div><span>y</span></div>
      <div><span>☺</span></div>
    </div>
  </div>
</div>

<!-- <div class="content">
  <a href="#element-target">Puu Click</a>
  <p class="target" id="element-target">Will Not Hurt U Anymore,Please Forgive Me.</p>
</div> -->
 <div class="col-md-12">
 <div class="wing right"></div>
    <div class="wing left"></div>
     <div class="heart"></div>
       <!--  <div id="envelope">
        -->
  <div class="top"></div>
  
  <div class="sides"></div>
</div>
<!-- <div class="col-md-4" style="bottom: -156px text-align:center;">
<iframe width="420" height="345" src="https://www.youtube.com/embed/O7RCMHjLFyU">
</iframe>
</div> -->
<router-outlet></router-outlet>


 <style type="text/css">
  .hrdr{
    top:0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: white;
    padding: 10px;
    z-index: 10;
  }
  .hrdrimg{
    width: 180px;
    height: 120px;
    border-radius: 50%;
    margin-left: 10px;
  }
  .hrdrtxt{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;

  }
  .hrdrbtn{
    float: right;
    margin-right: 40px;
  }
   .img1{
    width: 100%;
    height: 600px;
   }
   .img2{
    width: 100%;
    height: 480px;
   }
  .imgcs{
    margin-bottom: 20px;
    transition: transform .2s;
    border: 1px solid black;
    border-radius: 5px;
  }
  .imgcs:hover{
    transform: scale(0.9);
  }
  .imgdiv{
    margin-top: 30px;
  }
  .backgrd{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /*position: fixed;
    overflow-y: scroll;
    background-color: rgb(240, 241, 243);*/
  }
  .prfldiv{
     /*background: url('assets/imges/7777.jpg') no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height:700px;
    left:0;
    right: 0;
    margin-top: 5%;
    margin-bottom: 40px;
  }

.cb-slideshow,
.cb-slideshow:after { 
  /*  position: fixed;*/
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
    list-style-type: none;
}
/*.cb-slideshow:after { 
    content: '';
    background: transparent url(assets/imges/7777.jpeg) repeat top left; 
    width:10px;
    height:10px;
}*/
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
  -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px; 
}
.cb-slideshow li:nth-child(1) span { 
    background-image: url(assets/imges/7777.jpg) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(assets/imges/msd1.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(assets/imges/77777.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(assets/imges/msd2.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(assets/imges/45.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(assets/imges/msd.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 

}
.cb-slideshow li:nth-child(7) span { 
    background-image: url(assets/imges/z.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
    
}
.cb-slideshow li:nth-child(2) div { 
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
  opacity: 1;
}

@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
}

  .txtcntr{
    text-align: center;
    padding-top: 200px;
  }
  .target{
  font-size:18px;
  opacity: 0;
  transform: translateX(40px);
  transition: all 1.5s ease;
}
.target:target{
  opacity: 1;
  transform: translateX(0);
}
body {
        margin:0;
        background:mistyrose;
    }

/* wings */

.wing {
    background:red;
     border-radius: 12px 20px 60px 20px;
     width:120px;
     height:50px; margin-top:80px;
     position:absolute;
}

/* right wing */

.right {
    margin-left:-60px;
    left:50%;
    animation:flap1 1s infinite;
    border-bottom:3px solid rgba(0,0,0,.08);
     border-radius: 12px 20px 60px 20px;
    transform:rotate(-10deg) translate(250px,0);
}

@keyframes flap1 {
    0% {
        transform:rotate(-10deg) translate(250px,0);
    }
    
    50% {
        transform:rotate(-5deg) translate(250px,0);
    }
}
.right:before {
    position:absolute;
    content:'';
    background:red;
    width:70%;
    height:70%;
       border-bottom:3px solid rgba(0,0,0,.08);
    border-radius: 20px 20px 60px 20px;
    transform:rotate(20deg) translate(-1px,0);
    margin-top:38px;
}
/*.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 50px 0 0;
  padding: 7px 14px;
}*/

.right:after {
      position:absolute;
    content:'';
    background:red;
    width:40%;
    transform:rotate(29deg) translate(-8px,0);
    height:30%;
       border-bottom:3px solid rgba(0,0,0,.08);
    border-radius: 0px 0px 60px 70px;
    margin-top:66px;
}

/* left wing */

.left {
    border-radius:12px 20px 20px 60px;
     margin-left:-60px;
    left:50%;
     animation:flap2 1s infinite;
      border-bottom:3px solid rgba(0,0,0,.08);
    transform:rotate(10deg) translate(-248px, 0);
}

@keyframes flap2 {
    0% {
        transform:rotate(10deg) translate(-248px,0);
    }
    
    50% {
        transform:rotate(5deg) translate(-248px,0);
    }
}


.left:before {
    position:absolute;
    content:'';
    background:red;
    width:70%;
       border-bottom:3px solid rgba(0,0,0,.08);
    transform:translate(46%,0) rotate(-20deg);
    height:60%;
      border-radius:12px 20px 70px 70px;
    margin-top:40px;
}

.left:after {
      position:absolute;
    content:'';
    background:red;
    width:40%;
       border-bottom:3px solid rgba(0,0,0,.08);
    height:30%;
     transform:translate(164%,0) rotate(-34deg);
     border-radius:0px 0px 70px 60px;
    margin-top:58px;
}

/* heart */

.heart{
    position: absolute;
    width: 120px;
    z-index:99999;
    height: 100px;
    margin-left:-50px;
    left:50%;
     animation: heart 1s infinite;
    transform:scale(.8);
    transition:.6s;
    margin-top:60px;
    
}
.heart:before,
.heart:after{
    content: "";
    width: 50px;
    height: 80px;
    position: absolute;
    left: 50px;
    top: 0;
    border-radius: 50px 50px 6px 6px;
    background: crimson;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.heart:after{
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}

@keyframes heart {
    0% {
        transform: scale(.8) translate(0,0);
    }
    
    50% {
        transform: scale(.92) translate(0, 12px);
    }
    
    100% {
        transform:scale(.8);
    }
}

/* envelope */

/*  #envelope {
  background: white; 
  margin: 200px auto;
  height: 200px;
  position: relative;
  width: 320px;
  border-radius:8px;
  overflow:hidden;
  animation: floaty 1s infinite;
}
*/
@keyframes floaty {
    0% {
        transform:translate(0,0);
    }
    
    50% {
        transform:translate(0, 12px);
    }
}

/* bottom, left, and right sides */
/*.sides {
  border-color: transparent #fbfbfb #f7f7f7 #fcfcfc;
  border-style: solid;
  border-width: 90px 170px;
  bottom: 0;
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
}
*/
/* top side */

/*.top {
  border-color: white transparent transparent;
  border-style: solid;
  border-width: 108px 140px 90px 140px;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: 50% 0;
  width: 0;
}
*/



</style> 





















