  <audio src="assets/imges/mera.mp3" autoplay loop id="audio">
  <embed src="assets/imges/mera.mp3" allow="autoplay" id="audio"/>
  </audio>
<div class="opo">
<div class="backk">
<div id ="container">
  <div id ="animate" >
    <img src="assets/imges/d.jpeg"  style="width:300px;height:400px;" id="image">
    <img src="assets/imges/1.jpeg"  style="width:300px;height:400px;" id="images">
    <img src="assets/imges/b.jpeg"  style="width:300px;height:400px;" id="images1">
    <img src="assets/imges/c.jpeg"  style="width:300px;height:400px;" id="images2">
    <img src="assets/imges/e.jpeg"  style="width:300px;height:400px;" id="images3">
    <img src="assets/imges/52.jpeg" style="width:300px;height:400px;" id="images4">
    <img src="assets/imges/a.jpeg"  style="width:300px;height:400px;" id="images5">
    <img src="assets/imges/8.jpeg"  style="width:300px;height:400px;" id="images6">
    <img src="assets/imges/9.jpeg"  style="width:300px;height:400px;" id="images7">
    <img src="assets/imges/10.jpeg" style="width:300px;height:400px;" id="images8">
    <img src="assets/imges/pu.jpeg"  style="width:300px;height:400px;" id="images9">
    <img src="assets/imges/puuu.jpeg"  style="width:300px;height:400px;" id="images10">
    <img src="assets/imges/missu.jpg"  style="width:300px;height:400px;" id="images11">
</div>
</div>
</div>
<div class="col-md-12">
 <!-- <div class="wing right"></div> -->
    <!-- <div class="wing left"></div> -->
     <div class="heart"></div>
       <!--  <div id="envelope">
        -->
  <div class="top"></div>
  
  <div class="sides"></div>
</div>
</div>
 <style type="text/css">
 

/* wings */





/* heart */
.backk{
   background: url(assets/imges/l.jpg)no-repeat center center fixed; 
   position: fixed; 
  top: 0; 
  left: 0; 
  opacity: 0.6  ;
   min-width: 100%;
  min-height: 100%;
   
}

.heart{
    position: absolute;
    width: 120px;
    z-index:99999;
    height: 100px;
    margin-left:-50px;
    left:50%;
     animation: heart 1s infinite;
    transform:scale(.8);
    transition:.6s;
    margin-top:600px;
    
}
.heart:before,
.heart:after{
    content: "";
    width: 50px;
    height: 80px;
    position: absolute;
    left: 50px;
    top: 0;
    border-radius: 50px 50px 6px 6px;
    background: crimson;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.heart:after{
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}

@keyframes heart {
    0% {
        transform: scale(.8) translate(0,0);
    }
    
    50% {
        transform: scale(.92) translate(0, 12px);
    }
    
    100% {
        transform:scale(.8);
    }
}

@keyframes floaty {
    0% {
        transform:translate(0,0);
    }
    
    50% {
        transform:translate(0, 12px);
    }
}



</style> 





















