#container {
  /*width:100%;*/
  /*height: 743px;*/
  position: relative;
  margin-top: 150px;
  /*background: yellow;*/
}
#animate {
  /*width: 300px;*/
    /*height: 300px;*/
  position: absolute;
  /*background-color: red;*/

}


/*#container {
  width: 400px;
  height: 400px;
  position: relative;
  /*background: yellow;*/

/*#animate {
  width: 150px;
    height: 152px;
  position: absolute;
  background-color: red;

}*/

#images{
/*width: 300px;
height: 300px;*/
display: none;

}

#images1{
  display: none;
}

#image{
  display:none;
}
#images2{
  display: none;
}
#images3{
  display: none;
}
#images4{
  display: none;
}
#images5{
  display: none;
}
#images6{
  display: none;
}
#images7{
  display: none;
}
#images8{
  display: none;
}
#images9{
  display: none;
}
#images10{
  display: none;
}
#images11{
  display: none;
}